<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Login - Rocket Plan</title>
</h:head>
<h:body>
	<h:form prependId="false">
		
		<p:panelGrid columns="1" styleClass="ui-fluid center ui-noborder">
			<h2>Please login</h2>

			<p:outputLabel value="Login failed!" styleClass="red"/>

			<p:inputText id="username" placeholder="User name" />
			<p:password id="password" placeholder="Password" />

			<p:commandButton value="Login" ajax="false" />
		</p:panelGrid>

	</h:form>
</h:body>
</html>